# Java
target/
*.class
*.jar
*.war
*.ear
.idea/
*.iml

# Go
transaction-service/transaction-service

# Python
__pycache__/
*.pyc
.env
venv/

# Node
node_modules/
.next/
.vercel/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
*.swo
article/article.aux
article/article.bbl
article/article.blg
article/article.log
article/article.out
